    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <br><br><br>
                        <h1 class="brand-heading">Members Only</h1>
                        <p class="intro-text"> This is an exclusive clubhouse where members can write posts about non-members. 
                        </p>
                        <% if not signed_in? %>
                            <a href=<%=signin_path %> class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        <% end %>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </header>