<h1>Members Only Posts</h1>

<% @posts.each do |post| %>
	<div class="row">
		<div class="comment-box">
	  	<% if signed_in? %>
	    	<h4 class="autore">
	      	Posted by:
	      	<%= post.user.name %>
	    	</h4>
	    <% else %>
	    	<h4 class="autore">
	      	<li><%= link_to "Sign in to see the author", signin_path %></li>
	    	</h4>
	  	<% end %>
	  	<span class="post-content"><%= post.body %></span>
	  </div>
	</div>
<% end %>